.confirmform{
    border: 1px solid black;
    background:lightyellow;
    align:center;
}
#wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}

.content{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    position: relative;
    z-index: 100;
}

.background{
    color: #e2d39e;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
.row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.danger-zone{
    font-size:25px;
    color:orangered;
}
.conditional-hidden{
    display:none;
}
.conditional-not-hidden{
    display:inline;
}
