<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Confirm the person made</title>

    <th:block th:replace="base::header2"></th:block>


</head>
<body id="page-top">
    <th:block th:replace="base::navigation2"></th:block>

    <div id="wrapper">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!--Enter stuff here -->
                        <div class="container">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Confirmation:</h3>
                                </div>
                                <div class="panel-body">
                                    <p th:inline="text">Alright [[${newPerson.firstName}]] [[${newPerson.lastName}]] what are you looking to do?</p>

                                </div>
                            </div>
                            <form action="/generateresume">
                                <!--buttons-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-4">
                                        <button id="submitButton" type="submit" class="btn btn-primary">Job Seeker<span class="glyphicon glyphicon-thumbs-up"></span></button>
                                    </div>
                                </div>
                            </form>
                            <form action="/recruiter/home">
                                <!--buttons-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-4">
                                        <button id="submitButton" type="submit" class="btn btn-primary">Recruiter<span class="glyphicon glyphicon-thumbs-up"></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <th:block th:replace="base::footer2"></th:block>
</body>
</html>