<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Recruiter Home</title>
    <th:block th:replace="base::header2"></th:block>
</head>
<body>
    <th:block th:replace="base::navigation2"></th:block>
    <div id="wrapper">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <h1>Recruiter Home</h1>

                            <h3>List of posted by this recruiter jobs here</h3>
                            <div class="panel panel-default">
                                <div class="panel-header"><h3>List of Users</h3></div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>Title:</th>
                                            <th>Employer:</th>
                                            <th>Low End Salary:</th>
                                            <th>High End Salary:</th>
                                            <th>Discription:</th>
                                            <th>Position Open:</th>
                                            <th>Required Skills:</th>
                                            <th>Actions:</th>
                                        </tr>
                                        <tr th:each="p:${listMyPostedJobs}">
                                            <td th:text="*{p.id}"></td>
                                            <td th:text="*{p.title}"></td>
                                            <td th:text="*{p.employer}"></td>
                                            <td th:text="*{p.lowSalary}"></td>
                                            <td th:text="*{p.highSalary}"></td>
                                            <td th:text="*{p.description}"></td>
                                            <td>
                                                <a th:href="@{/recruiter/addskill/{id} (id=*{p.id})}">Add Skills</a>
                                            </td>
                                            <td th:text="*{p.enabled}"></td>
                                            <td>
                                                <p>
                                                    <a th:href="@{/recruiter/toggleStatus/{id} (id=*{p.id})}">Enabld/Disable</a>
                                                    -
                                                    <a th:href="@{/recruiter/update/{id} (id=*{p.id})}">Update</a>
                                                    -
                                                    <a th:href="@{/recruiter/postedjob/{id} (id=*{p.id})}">Job Page</a>
                                                </p>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <div class="panel-footer">
                                    <form action="/recruiter/addjob">
                                        <!--buttons-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"></label>
                                            <div class="col-md-4">
                                                <button id="submitButton" type="submit" class="btn btn-primary">Add Job<span class="glyphicon glyphicon-thumbs-up"></span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <th:block th:replace="base::footer2"></th:block>
</body>
</html>