<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>


    <title>Resume Builder 4000</title>
    <th:block th:replace="base::header"></th:block>
</head>

<body id="page-top">
    <th:block th:replace="base::navigation"></th:block>
    <!--enter things here-->
    <form action="#"
          th:action="@{/addskill}"
          th:object="${aSkill}"
          method="post">
        <ul>
            Skill: <input th:type="text" th:field="*{skill}"/> <br />
            <span th:if="${#fields.hasErrors('skill')}"
                  th:errors="*{skill}"></span><br />
            Rating: <input th:type="text" th:field="*{rating}"/><br />
            <span th:if="${#fields.hasErrors('rating')}"
                  th:errors="*{rating}"></span><br />

        </ul>

        <input type="submit" value="Add Skill"/> <input type="reset" value="Clear Form"/>

    </form>

    <th:block th:replace="base::footer"></th:block>
</body>

</html>
