<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Your Stats</title>
</head>
<body>
    <h1>Confirm the Work entry</h1>

    <p th:inline="text">So [[${newPerson.name}]] here is what you just entered</p>

    <p th:inline="text">Skill: [[${aSkill.skill}]].</p>
    <p th:inline="text">Rating: [[${aSkill.rating}]].</p>


    <h2><a href="/addskill">Add another skill</a></h2>
    <br />
    <h1><a href="/generateresume">Lets Generate your resume</a></h1>




</body>
</html>