<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>You Done Learned</title>
</head>
<body>
    <h1>Confirm the Education entry</h1>
    <p th:inline="text">So [[${newPerson.name}]] here is what you just entered</p>

    <p th:inline="text">School: [[${anEducation.school}]].</p>
    <p th:inline="text">Degree: [[${anEducation.degree}]].</p>
    <p th:inline="text">Graduated: [[${anEducation.graduationDate}]].</p>


    <h2><a href="/addeducation">Add another educational thing</a></h2>
    <h2><a href="/addwork">Go add some work experience to your resume</a></h2>
    
</body>
</html>