<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">

    <title>Resume Builder 4000</title>

    <th:block th:replace="base::header"></th:block>
</head>

<body id="page-top">
    <th:block th:replace="base::navigation"></th:block>
    <div class="container" boarder="1px">
        <form class="well form-horizontal"
              action="#"
              th:action="@{/addeducation}"
              th:object="${anEducation}"
              method="post">
            <fieldset>
                <legend th:text="${isNew}? 'Add Educational Experience' : 'Update Educational Experience'"></legend>

                <div th:if="${isNew}">
                    <p><strong th:text="${educationCount}"></strong>/10</p>
                </div>

                <!--hidden id field-->
                <input type="hidden" th:field="*{id}">


                <!--School input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">School: </label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <Input type="text" th:field="*{school}"/><br />
                            <span th:if="${#fields.hasErrors('school')}"
                                  th:errors="*{school}"></span><br />
                        </div>
                    </div>
                </div>

                <!--Degree input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Degree: </label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <Input type="text" th:field="*{degree}"/><br />
                            <span th:if="${#fields.hasErrors('degree')}"
                                  th:errors="*{degree}"></span><br />
                        </div>
                    </div>
                </div>

                <!--Graduation Date input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Graduation Date: </label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <Input type="text" th:field="*{graduationDate}"/><br />
                            <span th:if="${#fields.hasErrors('graduationDate')}"
                                  th:errors="*{graduationDate}"></span><br />
                        </div>
                    </div>
                </div>

                <!--buttons-->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button id="submitButton" type="submit" class="btn btn-primary">Save <span class="glyphicon glyphicon-thumbs-up"></span></button>
                        <!--Working on "add another button- does not work-->
                        <!--<button id="submitAnother" href="redirect:/addeducation" class="btn btn-primary">Add Another <span class="glyphicon glyphicon-thumbs-up"></span></button>-->
                        <button id="resetButton" type="reset" class="btn btn-primary">Clear <span class="glyphicon glyphicon-thumbs-down"></span></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

<th:block th:replace="base::footer"></th:block>
</body>

</html>
