<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:inline="text"> [[${myPerson.firstName}]]'s New Resume</title>
    <th:block th:replace="base::header2"></th:block>

    <!--My additional bootstrap-->
    <link rel="stylesheet" href="css/additionalcss.css"/>

</head>
<body>
    <th:block th:replace="base::navigation2"></th:block>

    <div id="wrapper">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="center">
                                <h1 th:inline="text">[[${myPerson.firstName}]] [[${myPerson.lastName}]]'s New Resume</h1>
                                <h2 th:inline="text">[[${myPerson.email}]]</h2>
                                <p><a th:href="@{/update/person/{id} (id=${myPerson.id})}">Update contact info</a></p>
                            </div>

                            <!--&lt;!&ndash;test panel&ndash;&gt;-->
                            <!--<div class="container">-->
                                <!--<div class="panel panel-default panel-transparent">-->
                                    <!--<div class="panel-heading">-->
                                        <!--<h3>Testing Panel:</h3>-->
                                    <!--</div>-->
                                    <!--<div class="panel-body">-->
                                        <!--<p>stuff in the testing panel body</p>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->


                            <!--education-->
                            <div class="container">
                                <div th:class="${educationNeedsWork}? 'panel panel-danger':'panel panel-default'">
                                    <div class="panel-heading center">
                                        <h3 th:inline="text" th:class="${educationNeedsWork}? 'conditional-hidden':'conditional-not-hidden' ">
                                            Education:     ([[${eduCount}]]/10)
                                        </h3>
                                        <h3 th:class="${educationNeedsWork}? 'conditional-not-hidden':'conditional-hidden'">
                                            Education: <a href="/addeducation">You need to add an educational experience</a>
                                        </h3>
                                    </div>

                                    <div th:each="i:${myEducation}" class="panel-body">
                                        <p th:inline="text"><strong>[[${i.degree}]]</strong>, </p>
                                        <p th:inline="text">[[${i.school}]], [[${i.graduationDate}]] </p>
                                        <p th:inline="text">Status: [[${i.active}]]</p>
                                        <p><a th:href="@{/update/education/{id}  (id=${i.id})}">Update</a> - <a th:href="@{/delete/education/{id}  (id=${i.id})}">Delete</a></p>

                                    </div>
                                    <div class="center">
                                        <p th:class="${tooMuchEducation}? 'conditional-hidden':'conditional-not-hidden'">
                                            <a href="/addeducation">Add another educational experience</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--work-->
                            <div class="container">
                                <div th:class="${workNeedsWork}? 'panel panel-default':'panel panel-default'">
                                    <div class="panel-heading center">
                                        <h3 th:inline="text" th:class="${workNeedsWork}? 'conditional-hidden':'conditional-not-hidden' ">
                                            Work Experience:     ([[${jobCount}]]/10)
                                        </h3>
                                        <h3  th:class="${workNeedsWork}? 'conditional-not-hidden':'conditional-hidden'">
                                            Work Experience: <a href="/addwork">would you like to add work experience</a>
                                        </h3>
                                    </div>
                                    <div th:each="i:${myWork}" class="panel-body">
                                        <p th:inline="text"><strong>[[${i.position}]]</strong> </p>
                                        <p th:inline="text">[[${i.company}]], [[${i.startDate}]] - [[${i.endDate}]]</p>
                                        <p th:inline="text"> -Duty 1: [[${i.duty1}]]</p>
                                        <p th:inline="text"> -Duty 2: [[${i.duty2}]]</p>
                                        <p th:inline="text">Status: [[${i.active}]]</p>
                                        <p><a th:href="@{/update/work/{id}  (id=${i.id})}">Update</a> - <a th:href="@{/delete/work/{id}  (id=${i.id})}">Delete</a></p>

                                    </div>

                                    <div class="center">
                                        <p th:class="${tooMuchWork}? 'conditional-hidden':'conditional-not-hidden'">
                                            <a href="/addwork">Add another work experience</a>
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <!--skill-->
                            <div class="container">
                                <div th:class="${skillsNeedsWork}? 'panel panel-danger':'panel panel-default'">
                                    <div class="panel-heading center">
                                        <h3 th:inline="text" th:class="${skillsNeedsWork}? 'conditional-hidden':'conditional-not-hidden' ">
                                            Skills:  ([[${skillCount}]]/20)
                                        </h3>
                                        <h3 th:class="${skillsNeedsWork}? 'conditional-not-hidden':'conditional-hidden'">
                                            Skills: <a href="/addskill">You need to add a skill</a>
                                        </h3>
                                    </div>

                                    <div th:each="i:${mySkills}" class="panel-body">
                                        <p th:inline="text"><strong>[[${i.skillName}]]</strong>: [[${i.rating}]]</p>
                                        <p th:inline="text">Status: [[${i.active}]]</p>
                                        <p><a th:href="@{/update/skill/{id}  (id=${i.id})}">Update</a> - <a th:href="@{/delete/skill/{id}  (id=${i.id})}">Delete</a></p>
                                    </div>
                                    <div class="center">
                                        <p th:class="${tooMuchSkills}? 'conditional-hidden':'conditional-not-hidden'">
                                            <a href="/addskill">Add more skills</a>
                                        </p>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <th:block th:replace="base::footer2"></th:block>
</body>
</html>