<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Here is the fruits of your labor</title>
</head>
<body>
    <h1>Robo Resume 4000 is spitting this out</h1>
    <p th:inline="text" >Name: [[${myPerson.name}]]!</p>



    <!--
    <table>
        <tr th:each="i: ${myEducation}">
            <td th:text="${i.school}"></td>
        </tr>

    </table>
    -->
    <h2>Education:</h2>
    <br />
    <div th:each="i:${myEducation}">
        <p th:inline="text">School: [[${i.school}]] | Degree:[[${i.degree}]] | Graduated: [[${i.graduationDate}]] </p>
    </div>

    <hr></hr>
    <h2>Work Experience:</h2>
    <br />
    <div th:each="i:${myWork}">
        <p th:inline="text">Company: [[${i.company}]] | Position: [[${i.position}]]</p>
        <p th:inline="text">Start Date: [[${i.startDate}]] | End Date: [[${i.endDate}]]</p>
        <p th:inline="text">Duty 1: [[${i.duty1}]] | Duty 2: [[${i.duty2}]]</p>
    </div>


    <hr></hr>
    <h2>Skills:</h2>
    <br />
    <div th:each="i:${mySkills}">
        <p th:inline="text">Skill: [[${i.skill}]] | Rating: [[${i.rating}]]</p>

    </div>



    <h2><a href="/">Start over</a></h2>
    
</body>
</html>