<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:inline="text"> [[${myPerson.name}]]'s New Resume</title>
</head>
<body>
    <h1>Robo Resume 4000 presents</h1>
    <h3 th:inline="text">[[${myPerson.name}]]!</h3>
    <h4 th:inline="text">[[${myPerson.name}]]</h4>

    <h2>Education:</h2>
    <div th:each="i:${myEducation}">
        <p th:inline="text"><strong>[[${i.degree}]]</strong>, </p>
        <p th:inline="text">[[${i.school}]], [[${i.graduationDate}]] </p>
    </div>

    <hr></hr>
    <br />
    <h2>Work Experience:</h2>
    <div th:each="i:${myWork}">
        <p th:inline="text"><strong>[[${i.position}]]</strong> </p>
        <p th:inline="text">[[${i.company}]], [[${i.startDate}]] - [[${i.endDate}]]</p>
        <p th:inline="text"> -Duty 1: [[${i.duty1}]]</p>
        <p th:inline="text"> -Duty 2: [[${i.duty2}]]</p>
    </div>


    <hr></hr>
    <br />
    <h2>Skills:</h2>
    <div th:each="i:${mySkills}">
        <p th:inline="text">Skill: [[${i.skill}]]; [[${i.rating}]]</p>
    </div>



    <h2><a href="/">Start over</a></h2>
    
</body>
</html>