<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Resume Builder 4000</title>
    <!--<th:block th:replace="base::header"></th:block>-->
    <th:block th:replace="base::header2"></th:block>
</head>

<body>
    <!--<th:block th:replace="base::navigation"></th:block>-->
    <th:block th:replace="base::navigation2"></th:block>

    <div id="wrapper">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!--Enter page content here -->
                        <div class="container">

                            <div class="panel panel-default">
                                <div class="panel-header"><h3>List of Users</h3></div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>First Name:</th>
                                            <th>Last Name:</th>
                                            <th>Email:</th>
                                            <th>Actions:</th>
                                        </tr>
                                        <tr th:each="p:${listOfPeople}">
                                            <td th:text="*{p.id}"></td>
                                            <td th:text="*{p.firstName}"></td>
                                            <td th:text="*{p.lastName}"></td>
                                            <td th:text="*{p.email}"></td>
                                            <!--<td><a th:href="@{/generateresume/{id} (id=${p.id})}">View/ Update Resume</a></td>-->
                                        </tr>

                                    </table>
                                </div>
                            </div>


                            <form class="well form-horizontal"
                                  action="#"
                                  th:action="@{/}"
                                  th:object="${newPerson}"
                                  method="post">
                                <fieldset>
                                    <legend>Name Form</legend>
                                    <!--Hidden id field-->
                                    <input type="hidden" th:field="*{id} ">

                                    <!--first name-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">First Name</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <Input type="text" th:field="*{firstName}"/>
                                                <span th:if="${#fields.hasErrors('firstName')}"
                                                      th:errors="*{firstName}"></span><br />
                                            </div>
                                        </div>
                                    </div>
                                    <!--last name-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Last Name</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <Input type="text" th:field="*{lastName}"/>
                                                <span th:if="${#fields.hasErrors('lastName')}"
                                                      th:errors="*{lastName}"></span><br />
                                            </div>
                                        </div>
                                    </div>


                                    <!--email-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <Input type="text" th:field="*{email}"/>
                                                <span th:if="${#fields.hasErrors('email')}"
                                                      th:errors="*{email}"></span><br />
                                            </div>
                                        </div>
                                    </div>

                                    <!--Submit and clear buttons-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-4">
                                            <button id="submitButton" type="submit" class="btn btn-primary">Save <span class="glyphicon glyphicon-thumbs-up"></span></button>
                                            <button id="resetButton" type="reset" class="btn btn-primary">Clear <span class="glyphicon glyphicon-thumbs-down"></span></button>
                                        </div>
                                    </div>



                                </fieldset>


                            </form>
                            <!--toggle switch-->
                            <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <th:block th:replace="base::footer2"></th:block>
</body>

</html>
