<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Resume Builder 4000</title>
    <th:block th:replace="base::header2"></th:block>
</head>

<body id="page-top">
    <th:block th:replace="base::navigation2"></th:block>

    <div id="wrapper">

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container" boarder="1px">
                            <form class="well form-horizontal"
                                  action="#"
                                  th:action="${isNew}? @{/addskill}:@{/updateSkill}"
                                  th:object="${aSkill}"
                                  method="post">
                                <fieldset>
                                    <legend th:text="${isNew}? 'Add Skill' : 'Update Skill'"></legend>

                                    <div th:if="${isNew}">
                                        <p><strong th:text="${skillCount}"></strong>/20</p>
                                    </div>


                                    <!--hidden-->
                                    <input type="hidden" th:field="*{id}">
                                    <input type="hidden" th:field="*{person}">

                                    <!--skill-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Skill</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <input th:type="text" th:field="*{skillName}"/> <br />
                                                <span th:if="${#fields.hasErrors('skillName')}"
                                                      th:errors="*{skillName}"></span><br />
                                            </div>
                                        </div>
                                    </div>
                                    <!--Rating-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rating</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <input th:type="text" th:field="*{rating}"/><br />
                                                <span th:if="${#fields.hasErrors('rating')}"
                                                      th:errors="*{rating}"></span><br />
                                            </div>
                                        </div>
                                    </div>

                                    <!--buttons-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-4">
                                            <button type="submit"
                                                    class="btn btn-primary"
                                                    th:disabled="${outOfBounds}"
                                                    name="button"
                                                    th:value="${isNew}? 'Save':'Update'">
                                                <div th:text="${isNew}? 'Add' : 'Update'"></div>
                                            </button>
                                            <!--Working on "add another button- does not work--><!--Issue is probably from having two actions!-->
                                            <div th:class="${!isNew}? 'conditional-hidden':'conditional-not-hidden'">
                                                <button type="submit"
                                                        class="btn btn-primary"
                                                        th:disabled="${outOfBounds} or ${!isNew}"
                                                        name="button"
                                                        value="AddAnother">
                                                    <div>Add Another</div>
                                                </button>
                                            </div>

                                            <button id="resetButton"
                                                    type="reset"
                                                    class="btn btn-primary">
                                                <div>Clear</div>
                                            </button>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <th:block th:replace="base::footer2"></th:block>
</body>

</html>
