<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome Page</title>
    <th:block th:replace="base::header2"></th:block>
</head>
<body>
<th:block th:replace="base::navigation2"></th:block>
<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="container">
                        <h1> Welcome to Robo Resume 7000 (linked in -not)</h1>
                        <p>put a jumbotron here</p>
                        <form action="/login">
                            <!--sign in-->
                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4">
                                    <button id="submitButton" type="submit" class="btn btn-primary">Sign in<span class="glyphicon glyphicon-thumbs-up"></span></button>
                                </div>
                            </div>
                        </form>
                        <form action="/register">
                            <!--sign up-->
                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4">
                                    <button id="submitButton" type="submit" class="btn btn-primary">Register<span class="glyphicon glyphicon-thumbs-up"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="base::footer2"></th:block>
</body>
</html>