<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome Page</title>
    <th:block th:replace="base::header2"></th:block>
</head>
<body>



<div class="container" style="padding-top:50px;">
    <div class="jumbotron">
        <h1>Welcome to Robo Resume 7000 (linked in -not)</h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <p>Build your resume and a matching career</p>
        <p align="right">
            <a class="btn btn-success btn-lg" href="/login" role="button">Sign in</a>

            <a class="btn btn-success btn-lg" href="/register" role="button">Register</a>
        </p>
    </div>
</div>



<th:block th:replace="base::footer2"></th:block>
</body>
</html>