<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Resume Builder 4000</title>
    <th:block th:replace="base::header"></th:block>

</head>

<body id="page-top">
    <th:block th:replace="base::navigation"></th:block>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Confirmation:</h3>
            </div>
            <div class="panel-body">
                <p th:inline="text">Skill: [[${aSkill.skill}]].</p>
                <p th:inline="text">Rating: [[${aSkill.rating}]].</p>
            </div>
        </div>
        <h2><a href="/addskill">Add another skill</a></h2>
        <br />
        <h1><a href="/generateresume">Lets Generate your resume</a></h1>
    </div>

<th:block th:replace="base::footer"></th:block>
</body>

</html>
